/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables CSS */
:root {
    --white: #f4f4f4;
    --black: #1b1b1b;
    --blue: #2255c4;
    --dark-blue: #123786;
}

/* Reset CSS */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

/* Body */
body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    overflow-x: hidden;
}

/* Ajustes en el contenedor principal para centrar el contenido */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
}

/* Ajustes para el header para mostrar la flecha */
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    text-align: left;
    z-index: 1000;
}

.container__logo img {
    width: 60px;
    height: 60px;
}

.container__box {
    position: fixed;
    top: 0;
    right: -100px; /* Ajusta este valor para desplazarlo más a la derecha */
    width: 300px;
    height: 100%;
    background-color: var(--blue); /* Si es negro, mantenemos este color */
    z-index: -1;
}



.container__rrss {
    position: fixed;
    top: 50%;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
}

.container__rrss-item {
    color: var(--black);
    font-size: 1.5em;
    transition: 0.3s;
}

.container__rrss-item:hover {
    color: var(--dark-blue);
}
/* Section */
.contact {
    position: relative;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact__box {
    width: 100%;
    text-align: center;
}

.contact__title {
    font-size: 2.5em;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 15px;
}

.contact__description {
    font-size: 1.2em;
    color: var(--black);
    margin-bottom: 30px;
}

.contact__form {
    width: 100%;
}

.contact__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contact__label {
    font-size: 1em;
    color: var(--black);
    margin-bottom: 4px;
}

.contact__input,
.contact__textarea {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    background-color: var(--white);
    border: 1px solid var(--black);
    resize: none;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contact__button {
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 15px 20px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact__button:hover {
    background-color: var(--dark-blue);
}

/* Aside */
.info {
    background-color: var(--black);
    width: 100%;
    max-width: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
    margin-left: 90px; /* Ajusta este valor para mover hacia la derecha */
}


.info__title {
    font-size: 2em;
    margin-bottom: 20px;
}

.info__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.info__list-item-description {
    font-size: 1em;
}

/* Breakpoints */

/* -- Pantallas Largas -- */
@media (max-width: 1200px) {
   .contact {
        max-width: 500px;
   }

   .info {
        max-width: 500px;
   }
}

/* -- Laptops -- */
@media (max-width: 992px) {
   .contact {
        max-width: 400px;
   }

   .info {
        max-width: 400px;
   }
}

/* -- Tablets -- */
@media (max-width: 768px) {
   .container {
        flex-direction: column;
        gap: 40px;
   }

   .container__rrss {
       display: none;
   }

   .contact {
        max-width: 100%;
        padding: 20px;
   }

   .info {
        max-width: 100%;
        padding: 20px;
   }
} 

/* -- Celulares -- */
@media (max-width: 400px) {
    header {
        padding: 12px;
    }

    .container__box {
        display: none;
    }

    .contact {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 40px;
    }

    .contact__title {
        font-size: 1.5em;
        text-align: center;
    }

    .contact__description {
        font-size: 1em;
        text-align: center;
    }

    .info__title {
        font-size: 1.5em;
        text-align: center;
    }

    .info__list-item-description {
        font-size: 0.9em;
    }

    .info__list-item {
        margin-bottom: 15px;
    }
}
